<app-navigation></app-navigation>

<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header">
          <h3>Add a link</h3>
        </div>
        <div class="card-body">
          <form (submit)="send(title,link)">
            <div class="mb-3">
              <label for="">Title</label>
              <input type="text" #title class="form-control" placeholder="Google" autofocus>
            </div>
            <div class="mb-3">
              <label for="">Link</label>
              <input type="text" #link class="form-control" placeholder="www.google.com" >
            </div>
            <div class="mb-3">
              <button class="btn btn-primary btn-lg">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <app-link *ngFor="let link of links" [link]="link"></app-link>
    </div>
  </div>
</div>